@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&display=swap');

.app__header {
    z-index: 1;
    margin-top: 20px;
    /* position: relative; */
    border: 2px solid black;
    border-radius: 50px;
}
footer {
    display: none;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Asap', sans-serif; 
}

.app{
    width: 100vw;
    min-height: 1000px;
    overflow: auto;
    height: fit-content;
    background-image: url('../imgs/image.png');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container {
    position: absolute;
    width: 78%;
    min-height: calc(1000px - 30px);
    height: inherit;
    overflow: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 100px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.container__title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
}
.custom-file-upload input[type="file"] {
    display: none;
}  

.container__input {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__input label {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.container__content--block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container__content-item{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.container__content-item-input {
    border: none;
    background: none;
    outline: none;
    margin-top: 5px;
    font-size: 20px;
    padding-left: 5px;
    border-bottom: 2px solid black;
}
label {
    font-size: 25px;
    opacity: 50%;
}
.container__content-note {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.container__content-note--input {
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black;
}

.form__container__confirm {
    height: 50px;
    width: 200px;
    background-color: #0075FF;
    color: white;
    display: block;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}
