<header class="app__header">
    <style>
    .header{
        width: 80vw;
        height: 60px;
        background-color: white;
        border-radius: 50px;
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px;
    }
    .header-list__img{
        height: 55px;
        margin-right: 20px;
    }
    .header-list__tille {
        font-size: 25px;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    .header-list__tille + .header-list__tille{
        margin-left: 20px ;
    }
    .header__logout{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100px;
        background-color: blue;
        color: white;
        border-radius: 50px;
        cursor: pointer;
        font-size: 25px;
    }
    .header-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    </style>
    <div class="header">
        <div class="header-list">
            <img class="header-list__img" src="../imgs/logodoan.png" alt="">
            <div class="header-list__tille">
                <a href="">Account</a>
            </div>
            <div class="header-list__tille">
                <a href="">Create</a>
            </div>
            <div class="header-list__tille">
                <a href="">View</a>
            </div>
            <div class="header-list__tille">
                <a href="">Report</a>
            </div>
        </div>
        <div class="header__logout" onclick="logout()">Logout</div>
    </div>
    <script>
        async function logout() {
            const res = await fetch(`/logout`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            })
             if (res.redirected) {
                window.location.href = res.url
            }
        }
    </script>
</header>