
<head>
    <link rel="stylesheet" href="../css/firstlogin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>First login page</title>
</head>

<div class="form">
    <h1 class="form__script script__tillr">Welcome!</h1>
    <h2 class="form__script script__script">To make your account secure, please</br> create a new password.</h2>
    <form class="form__form" id="form">
    
        <div class="form__pd">
            <label for="password">New password </label> 
            <input type="password" class="pd__input" id="password" name="password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*()]).{8,}"/>
        </div>
        
        <div class="form__pd">
            <label for="password">Confirm password </label> 
            <input type="password" class="pd__input" id="password_cf" name="password_cf" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*()]).{8,}"/>
        </div>

        <div class="form__fail hidden" id="hidden">Passwords do not match!!!</div>

        <button type="submit" class="form__confirm">Save</button>
    
    </form>
</div>


<script src="../js/firstlogin.js"></script>  