<head>
    <link rel="stylesheet" href="./css/report.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Report page</title>
</head>

<div class="form">
    <div class="form__title">
        <div class="form__title-1">Contact Us</div>
        <div class="form__title-2">Any question or remasks? Just write us a message</div>        
    </div>

    <div class="form__container">
        <div class="form__container__contact">
            <div class="form__container__contact-tille1">Contact Information</div>
            <div class="form__container__contact-tille2">Fill up the form and our Team will get back to you within 24 hours</div>
            <ul class="form__container__contact-inf">
                <li><i class="fa-sharp fa-solid fa-phone-volume"></i> 0907448146</li>
                <li><i class="fa-solid fa-envelope"></i> phanmemadms@gmail.com</li>
                <li><i class="fa-solid fa-location-dot"></i> UIT</li>
            </ul>
        </div>
        <form action="" id="form">
            <div class="form__container__fill">
                <div class="line1">
                    <div class="form__container__fill-form name">
                        <label for="name">Name</label> 
                        <input type="text" class="form__fill-form__input" id="name" name="name" required/>
                    </div>
                    <div class="form__container__fill-form mail">
                        <label for="email">Email</label> 
                        <input type="email" class="form__fill-form__input" id="email" name="email" required/>
                    </div>
                </div>
                <div class="form__container__fill-form problem">
                    <label for="problem">What the problem of website?</label> 
                    <input type="text" class="form__fill-form__input" id="problem" name="problem" required/>
                </div>
                <div class="form__container__fill-form describe">
                    <label for="describe">Description</label> 
                    <input type="text" class="form__fill-form__input" id="describe" name="describe" required/>
                </div>
                <button type="submit" class="form__container__confirm">Send</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/report.js"></script>  